body{
    background-image: linear-gradient(0deg,
            rgb(0, 0, 0, 0.2),
            rgb(0, 0, 0, 0.2)), url('/imagenes/fondo-pokedex.png');
}

.contenedor{
    background-color: rgba(230, 20, 20, 0.733);
    width: 550px;
    height: 590px;
    margin: 0 auto;
    border: solid black 1px;
    background: linear-gradient(to top, red, white);
}

.encabezado{
    padding-top: 10px;
    height: 80px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
}

img{
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(to bottom, red, white);
}

.informacion{
    display: flex;
    justify-content: space-around;
}

p{
    font-family:'Courier New', Courier, monospace;
    color: white;
}

.botones{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

button{
    border: 1px solid black;
    padding: 10px;
    border-radius: 50px;
    width: 50px;
    height: 30px;
}

#atras{
    background-color: aqua;
    margin-top: 30px;
    float: left;
}

#arriba{
    background-color: green;
    float: left;
}

#adelante{
    background-color: yellow;
    margin-top: 30px;
    float: right;
}

#abajo{
    background-color: red;
    margin-top: 60px;
    float: right;
}

input{
    display: inline-block;
    width: 145px;
    margin-top: 10px;
    border-radius: 20px;
}

#buscar{
    margin-top: 10%;
    margin-left: 30%;
    border-radius: 50%;
    height: 50px;
    width: 60px;
    color: white;
    background-color: red;
}